/* 背景画像を設定したcol要素用 */

.my-bg {
    min-height: 300px;
    background-size: cover;
    background-position: center center;
    color: white;
    text-align: center;
    line-height: 200px;
    font-size: 2rem;
    text-shadow: 1px 1px 3px #333;
    box-shadow: 1px 1px 3px #333;
    border: 2px solid #000;
}


/* 文章が入っているcol要素用 */

.my-text {
    align-items: center;
}

.jimbotron {
    margin-bottom: 2rem;
    background-color: #eceeef;
    border-radius: 3rem;
}